.skill-section{
  font-family:"Roboto", sans-serif;
}

.skillh1{
  text-align:center;
  color:#0084d7;
  margin-bottom:2rem;
  font-size:6.5rem;
  letter-spacing:0.1rem;
}
.inner{
  padding-top:20px;

}

.header{
  text-align:center;
  color:#fff;
  padding-bottom:1rem;
  position:relative;
}

.header::after{
  content:'';
  position:absolute;
  width:100px;
  height:4px;
  background-color:dodgerblue;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  background-color:dodgerblue;
}

.Container{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  justify-content:center;
  align-items:center;
  text-align:center;
  grid-gap:2rem;
  padding:1rem 80px;
  font-size:1.2rem;



}

.skill-box{
  padding:1rem;
  color:#ddd;
  cursor:pointer;
  border-radius:15px;
  box-shadow:0 0 100px rgb(6, 125, 117);
  background-color:rgb(8, 7, 7);

}
.skill-box:hover{
  background:linear-gradient(45deg, #01183a, #052765);
  color:#fff;
  transform:translateY(-50px);
  box-shadow:0 0 20px #0084d7, 0 0 40px #a2a4a6, 0 0 60px #0084d7, 0 0 80px #0084d7;
  transition:0.5s;
}
.skill-name{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:0.5rem;
  margin-bottom:0.5rem;



}


.img{
  width:200px;
  height:200px;
  position:relative;
  border-radius:45px;
  background:transparent;
  display:flex;
  justify-content:center;
  align-items:center;

}
.icon{
  width:100px;
}
